# Patient data — NEVER commit
data/
*.dcm
*.nii
*.nii.gz

# Large binaries / containers
containers/
*.sif
*.simg

# Logs
*.log
slurm_logs/

# models
nnunet/nnUNet_results/Dataset003_Combined/nnUNetTrainer__nnUNetPlans__3d_fullres/*/*.pth
nnunet/nnUNet_results/Dataset003_Combined/nnUNetTrainer__nnUNetPlans__3d_fullre$/*/*.png

# Scratch & throwaway
scratch/
scratch_archive/
scratch_failed/
trash/

# Env / cache
__pycache__/
*.pyc
.ipynb_checkpoints/
crkit-20180703/
